<div class="main">
    <div class="container">
        <div class="middle">
            <div id="login">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <fieldset class="clearfix">
                        <p><span class="fa fa-user"></span>
                            <input type="text" formControlName="userName" Placeholder="Username" required />
                            <span *ngIf="isFieldInvalid('userName')" class="text-error">Usuário incorreto</span>
                        </p>
                        <p><span class="fa fa-lock"></span>
                            <input type="password"  formControlName="password" Placeholder="Password" required />
                            <span *ngIf="isFieldInvalid('password')" class="text-error">Senha incorreta</span>
                        </p>
                        <div>
                            <span style="width:60%; text-align:left;  display: inline-block;">
                                <a class="small-text" href="#"></a>
                            </span>
                            <span style="width:40%; text-align:right;  display: inline-block;">
                                <input type="submit" value="Sign In">
                            </span>
                        </div>
                    </fieldset>
                    <div class="clearfix"></div>
                </form>
                <div class="clearfix"></div>
            </div> 
            <div class="logo">
                <p><span>Site</span></p>
                <p><span>Mercado</span></p>
            </div>
        </div>
    </div>
</div>